{% extends 'base.html' %}
{% block title %} Address {% endblock title %}

{% block content %}

{% if current_user.is_authenticated %}
    <h3 class = 'text-center mt-4 mb-4'>Take a peek, {{current_user.username }} :)</h3>
{% endif %}


    {% for add in address %}
    <div class="card mb-3">
        <div class="card-header">
          {{ add.author.username }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-2">
            <p>{{ add.address }}</p>
            <footer class="blockquote-footer">{{ add.phone_number }} <cite title="Source Title"></cite></footer>
          </blockquote>
          <a href="{{ url_for('get_address', address_id=add.id) }}" class="btn btn-light mt-3">See More</a>
        </div>
      </div>
    {% endfor %}



{% endblock content %} 